<div class="span3">
  <div class="well sidebar-nav">
    <h3><%= content_for?(:sidebar2_main_title) ? yield(:sidebar2_main_title) : "Sidebar 2" %></h3>
    <ul class="nav nav-list">
      <li class="nav-header"><%= content_for?(:sidebar2_sub_title) ? yield(:sidebar2_sub_title) : "Sidebar2 subtitle" %></li>
        <%= yield :sidebar2 %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->