<div class="span3">
  <div class="well sidebar-nav">
    <h3><%= content_for?(:sidebar_main_title) ? yield(:sidebar_main_title) : "Sidebar 1" %></h3>
    <ul class="nav nav-list">
      <li class="nav-header"><%= content_for?(:sidebar_sub_title) ? yield(:sidebar_sub_title) : "Sidebar subtitle" %></li>
        <%= yield :sidebar %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->