<span class="photo_mini"><%= display_other_photo_view(object) %></span>
<span class="newsfeed"><%= correct_viewer(object) %></span>
<span class="timestamp"><%= time_ago_in_words(object.created_at) %> ago.</span>