div.profile {
	margin: 5px 0 10px 0;
}

div.profile#type_1 {
	background-color: #fff;
}

div#type_0 {
	background-color: red;
}

h3.message {
	background: url(open.png) no-repeat 0 11px;
	padding: 10px 0 0 25px;
	cursor: pointer;
}

h3.expanded {
	background-image: url(close.png);
}

textarea {
	width: 500px;
	height: 200px;
}

span.user_name {
	
}