.profile_0 {
	margin: 5px 0 10px 0;
}

.profile_1 {
	background-color: rgb(245,245,245);
	margin: 5px 0 10px 0;
}


h3.message {
	background: url(open.png) no-repeat 0 11px;
	padding: 10px 0 0 25px;
	cursor: pointer;
	color: red;
}

h3.expanded {
	background-image: url(close.png);
}

textarea {
	width: 500px;
	height: 200px;
}

ul.profile_list > li {
	list-style: none
}

div.sidebar-nav {

	input {
		margin: -18px, 0, 0, -5px;
	}
}

.search_input {
	box-sizing: border-box;
	width: 90%;
	padding: 8px;
	border: 1px solid #cce;
}

.number_select {
	width: 55px;
}

.interested_in {
	width: 95%;
}

li {
	list-style: none;
}


ul.feed_items {
	margin: 10px 0 0 -4px;

	  li {
	    padding: 5px 0;
	    border-top: 1px solid #e8e8e8;
	    font-size: 75%;
	  }

	  .timestamp {
	  	font-style: italic;
	  	font-size: 80%;
	  	color: gray; 
	  }
}



.newsfeed, .profile_stats, .profile_settings {
	min-height: 400px;
}


footer li {
	list-style-type: inline;
	display: inline-block;
}

footer li a {
	color: blue;
}

footer li a:hover {
	color: red;
}

footer li a:visited {
	color: #a9a9a9;
}









