.profile_0 {
	margin: 5px 0 10px 0;
}

.profile_1 {
	background-color: rgb(245,245,245);
	margin: 5px 0 10px 0;
}


h3.message {
	background: url(open.png) no-repeat 0 11px;
	padding: 10px 0 0 25px;
	cursor: pointer;
	color: red;
}

h3.expanded {
	background-image: url(close.png);
}

textarea {
	width: 500px;
	height: 200px;
}

ul.profile_list > li {
	list-style: none
}

div.sidebar-nav {

	input {
		margin: -18px, 0, -15px, -5px;
	}
}

.search_input {
	box-sizing: border-box;
	width: 88%;
	max-width: 210px;
	padding: 4px;
	// border: 1px solid #cce;
}

.number_select {
	width: 55px;
}

.interested_in {
	width: 95%;
	max-width: 210px;
}

li {
	list-style: none;
}


ul.feed_items {
	margin: 10px 0 0 -4px;

	  li {
	    padding: 5px 0;
	    border-top: 1px solid #e8e8e8;
	    font-size: 75%;
	  }

	  .timestamp {
	  	font-style: italic;
	  	font-size: 80%;
	  	color: gray; 
	  }
}



.newsfeed, .profile_stats, .profile_settings {
	min-height: 550px;
}


footer li {
	list-style-type: inline;
	display: inline-block;
}

footer li a {
	color: blue;
}

footer li a:hover {
	color: red;
}

footer li a:visited {
	color: #a9a9a9;
}

div.profile_info {
	position: relative;
}

div.user_name {
	position: absolute;
	left: 108px;
	top: 10px;
	a {
		font-size: 160%;
		font-weight: bold;
		color: 000;
	}

	a:visited {
		color: 000;
	}
}

div.short_bio {
	position: absolute;
	left: 110px;
	top: 30px;
	font-style: italic;
}

span.short_bio {
	position: absolute;
	top: 20px;

}
div.profile_info {
	min-height: 100px;
}
div.profile_info > a {

}

div.hide_me {
	position: absolute;
	right: 20px;
	top: 20px;
}

div.sidebar_image_thumbnail {
	position: relative;
	min-height: 100px;
}

div.sidebar_hide_me {
	position: absolute;
	left: 115px;
	bottom: 40px;
}
ul.profile_messages {

	li.message_list {
		margin: -10px, 0, 0, -10px;
		min-height: 100px;
		overflow: hidden;
		border: 2px solid gray;
		position: relative;
		span.time_stamp {
			position: absolute;
			left: 30px;
			top: 20px;		
			font-size: 80%;
			font-style: italic;
		}
		span.sender_name {
			position: absolute;
			left: 30px;
			top: 7px;
			font-weight: bold;
			font-size: 110%;
		}
		img {
			position: absolute;
			top: 0px;
			left: 0px;
		}

		div.message_body {
			margin-left: 10px;
			margin-top: 20px;
			margin-right: 10px;
			border-top: 2px solid black;
			
			p.message {
			    font-family: Verdana,"Bitstream Vera Sans",sans-serif;
			    font-weight: normal;
			    font-size: 12px;
			}


		}

	}

	// div#message_id_0 {
	// 	background-color: rgb(245, 245, 245);
	// }
	// div#message_id_1 {
	// 	background-color: #fff;
	// }

}

a.carousel-control.left {
	left: -50px;
}

a.carousel-control.right {
	left: 300px;
}


















