  <footer>
    <ul class="footer">
      <li><%= link_to "Contact", main_app.contact_path  %></li>
      <li><%= link_to "About", main_app.about_path  %></li>
      <li><%= link_to "Help",  main_app.help_path  %></li>        
    </ul>
    <p><strong>&copy; Dating Site 2012</strong></p>
  </footer>